.calc {
  width: 50%;
  background-color: black;
  margin: 0 auto;
  padding: 3vw;
  display: none; }

.calc__panel {
  width: 94%;
  height: 5.5vw;
  background-color: white;
  line-height: 5.5vw;
  font-size: 3vw;
  font-weight: 600;
  padding: 3%;
  overflow: hidden;
  text-align: right; }

.calc__button {
  width: 23.5%;
  height: 6vw;
  margin: 2% 2% 0 0;
  float: left;
  border-radius: .25vw;
  background-color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 6vw;
  text-align: center;
  font-size: 3vw;
  font-weight: 600; }

.calc__numbers {
  float: left;
  width: 75%; }

.calc__button:nth-child(18n) {
  width: 49%; }

.calc__button:nth-child(4n+1), .calc__button:nth-child(20n) {
  margin-right: 0; }

.calc__operators {
  width: 25%;
  float: left;
  overflow: hidden; }

.clear {
  clear: both; }

.stopwatch {
  width: 50%;
  margin: 0 auto;
  height: 500px; }

.hannah {
  font-size: 9vw;
  text-align: center;
  font-family: 'Barrio', sans-serif;
  font-weight: 600;
  color: grey; }

.container {
  -webkit-perspective: 2000px;
          perspective: 2000px; }

.gallery {
  width: 500px;
  background-image: url("/images/drawing.jpg");
  height: 400px;
  margin: 0 auto;
  margin-top: -25px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: wobble;
          animation-name: wobble;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border: 1px solid black; }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotateY(-15deg) rotateZ(5deg);
            transform: rotateY(-15deg) rotateZ(5deg); }
  50% {
    -webkit-transform: rotateY(15deg) rotateZ(5deg);
            transform: rotateY(15deg) rotateZ(5deg); }
  100% {
    -webkit-transform: rotateY(-15deg) rotateZ(5deg);
            transform: rotateY(-15deg) rotateZ(5deg); } }

@keyframes wobble {
  0% {
    -webkit-transform: rotateY(-15deg) rotateZ(5deg);
            transform: rotateY(-15deg) rotateZ(5deg); }
  50% {
    -webkit-transform: rotateY(15deg) rotateZ(5deg);
            transform: rotateY(15deg) rotateZ(5deg); }
  100% {
    -webkit-transform: rotateY(-15deg) rotateZ(5deg);
            transform: rotateY(-15deg) rotateZ(5deg); } }
