@import "variables";

.calc {
  width: 50%;
  background-color: black;
  margin: 0 auto;
  padding: 3vw;
  display: none;
}

.calc__panel {
  width: 94%;
  height: 5.5vw;
  background-color: white;
  line-height: 5.5vw;
  font-size: 3vw;
  font-weight: 600;
  padding: 3%;
  overflow: hidden;
  text-align: right;
}

.calc__button {
  width: 23.5%;
  height: 6vw;
  margin: 2% 2% 0 0;
  float: left;

  border-radius: .25vw;
  background-color: white;

  cursor: pointer;
  user-select: none;
  line-height: 6vw;
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}

.calc__numbers {
  float: left;
  width: 75%;
}

.calc__button:nth-child(18n) {
  width: 49%;
}

.calc__button:nth-child(4n+1), .calc__button:nth-child(20n) {
  margin-right: 0;
}

.calc__operators {
  width: 25%;
  float: left;
  overflow: hidden;
}

.clear {
  clear: both;
}

#stopwatch {
  display: none;
}


.stopwatch {
  width: 50%;
  margin: 0 auto;
  background-color: black;
  height: 500px;
}

.hannah {
  font-size: 9vw;
  text-align: center;
  font-family: 'Barrio', sans-serif;
  font-weight: 600;
  color: grey;

}
.container {
  perspective: 2000px;
}
.gallery {
  width: 500px;
  background-image: url('/images/drawing.jpg');
  height: 400px;
  margin: 0 auto;
  margin-top: -25px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation-timing-function: ease-in-out;
  animation-name: wobble;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  border: 1px solid black;
}

@keyframes wobble {
    0% { transform: rotateY(-15deg) rotateZ(5deg); }
    50% { transform: rotateY(15deg) rotateZ(5deg);; }
    100% { transform: rotateY(-15deg) rotateZ(5deg);; }
}
